body {
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
}

.caixa {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.titulo {
    color: white;
    font-size: large;
}

.prototipo {
    color: orange;
}

.cabecalho nav {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
}

.home {
    color: orange;
}