body {
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid orange;
}

.caixa {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.titulo {
    float: left;
    color: white;
    font-size: x-large;
}

.prototipo {
    color: orange;
}

.cabecalho nav {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
}

.home {
    color: orange;
}

.time {
    background-image: url(team.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}
.time .container {
    max-width: 80%;
    text-align: center;
    margin: 0;
}

.time .container h1 {
    padding-top: 145px;
    color: orange;
    font-size: 50px;
    margin: 0;
    padding-left: 271px;
}

.time .container p {
    padding-top: 20px;
    color: white;
    font-size: 20px;
    margin: 0;
    padding-left: 271px;
}

.cabecalho1 {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
}

.titulo {
    float: left;
    color: white;
    font-size: x-large;
}

.titulo2 {
    float: right;
    padding-top: 2%;
}
.button {
    background-color: orange;
    color: white;
}

.linha{
    background-color: orange;
    height: 3px;
}

.topicos .caixa {
    padding-top: 50px;
    height: 250px;
}

.topicos .caixa .icone-missao {
    max-width: 30%;
    float: left;
    text-align: center;
    margin-right: 50px;
    margin-left: 10px;

}

.topicos .caixa .icone-valores {
    max-width: 30%;
    float: left;
    text-align: center;
    margin-right: 50px;
}

.topicos .caixa .icone-visao {
    max-width: 30%;
    float: left;
    text-align: center;
    margin: 0;
}

.icone {
    width: 120px;
}

.rodape {
    background-color: orange;
    height: 80px;
}

.rodape p {
    margin: 0;
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 15px;
}