body {
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid orangered;
}

.caixa {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.titulo {
    float: left;
    color: white;
    font-size: x-large;
}

.prototipo {
    color: orangered;
}

.cabecalho nav {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
}

.home {
    color: orangered;
}



/*footer*/
.footer {
    background-color: orangered;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
}