body {
    margin: 0;
    padding: 0;
    border: 0;
}

.cabecalho {
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 80px;
}

.caixa {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.titulo {
    float: left;
    color: white;
    font-size: x-large;
}

.prototipo {
    color: orangered;
}

.cabecalho nav {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
}

.login {
    color: orangered;
}

.pag-login {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 60px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
}

.pag-login .input-padrao {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    display: inline-block;
}

.btn-green {
    color: white;
    background-color: green;
    margin: 20px 0 50px 0;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    
}

.footer {
    background-color: orangered;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
}